/*meta*/

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


/*temporary*/

#supports img{
    width: 20%;
}

.transflag_article{
    width: 10%;
}

p img{
    width : 2em;
}

#banner{
    width: 100%;
}

body *{
    width: 75%;
    margin: auto;
}

#transkids_logo{
    width: 10%;
    border-radius: 50%;
    border-style: solid;
    border-color: #FAD6DD;
    border-width: 0.5em;
}

/*main*/

body{
    background: #F4A8B7;
}

main{
    background: #00569D;
    color: white;
}